@model CreateBookingDto

<form asp-controller="Default" asp-action="BookCar">
    <div class="row g-3">
        <input type="hidden" asp-for="AppUser" />
        <div class="col-12">
            <select asp-items="@ViewBag.cars" asp-for="CarId" class="form-control">
                <option selected disabled>Markayı Seçiniz</option>

            </select>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span> <span class="ms-1">Alış Noktası</span>
                </div>
                <input class="form-control" type="text" placeholder="Bir şehir veya havalimanı giriniz" asp-for="PickUpLocation" aria-label="Bir şehir veya havalimanı giriniz">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span><span class="ms-1">Teslimat Noktası</span>
                </div>
                <input class="form-control" type="text" placeholder="Bir şehir veya havalimanı giriniz" asp-for="DropOffLocation" aria-label="Bir şehir veya havalimanı giriniz">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-calendar-alt"></span><span class="ms-1">Alış Tarihi</span>
                </div>
                <input class="form-control" type="date" asp-for="StartDate">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-calendar-alt"></span><span class="ms-1">Teslimat Tarihi</span>
                </div>
                <input class="form-control" type="date" asp-for="EndDate">
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-light w-100 py-2">Hemen Kirala</button>
        </div>
    </div>
</form>
