@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- Carousel Start -->

<div class="header-carousel">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/Cental-1.0.0/img/carousel-2.jpg" class="img-fluid w-100" alt="First slide" />
                <div class="carousel-caption">
                    <div class="container py-4">
                        <div class="row g-5">
                            <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                <div class="bg-secondary rounded p-5">
                                    <h4 class="text-white mb-4">Kiralamaya Başlayın</h4>
                                    @await Component.InvokeAsync("_CarBookingComponent")
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                <div class="text-start">
                                    <h1 class="display-5 text-white">Kiralamanızda %15 İndirim Fırsatı</h1>
                                    <p>Hayalinizdeki yolculuğa şimdi başlayın</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Features Start -->
@await Component.InvokeAsync("_DefaultFeatureComponent")
<!-- Features End -->
<!-- About Start -->
@await Component.InvokeAsync("_DefaultAboutComponent")
<!-- About End -->
<!-- Fact Counter -->
@await Component.InvokeAsync("_DefaultStatisticsComponent")
<!-- Fact Counter -->
<!-- Services Start -->
@await Component.InvokeAsync("_DefaultServiceComponent")
<!-- Services End -->
<!-- Car categories Start -->
@await Component.InvokeAsync("_DefaultCarComponent")
<!-- Car categories End -->
<!-- Car Steps Start -->
@await Component.InvokeAsync("_DefaultProcessComponent")

<!-- Manager Start -->
@await Component.InvokeAsync("_DefaultManagerComponent")
<!-- Manager End -->
<!-- Testimonial Start -->
@await Component.InvokeAsync("_DefaultTestimonialComponent")
<!-- Testimonial End -->
